.about, .contacts, .demo {
    font-family: 'DynaPuff', sans-serif;
}
.about-font {
    font-size: 18px;
    margin: auto 12vw;
}
.contacts{
    font-size: 18px;
    margin: auto 12vw;
}
#personalPicture {
    border-color: black;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    /*Center the image, set margins left and right to auto and put display: block.*/
    width: 15%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

@media screen and (max-width: 1000px) {
    .about-font {
        font-size: 12px;
    }
}
@media screen and (max-width: 800px) {
    .about-font {
        font-size: 7px;
    }
}