#gameplay {
    border-style: solid;
    border-color: black;
    transform: scale(100vw, 100vh);
    position: relative;
}
#image {

    opacity: 75%;
}
#demoTitle {
    font-style: bold;
    font-size: 36px;
    margin: 0 0;
    font-family: 'DynaPuff', sans-serif;
    color: lightsalmon;
}
#demoInfoHeader {
    font-family:"Ubuntu", serif;
    color: lightcoral;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 0;  
    margin-top: 3px;
}
#demoInfoList {
    margin-top: 0;
}
#demoInfo {
    font-style: italic;
    font-family:"Ubuntu", serif;
    color: black;
    margin-top: 0; 
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    #gameplay {
        transform: scale(0.5,0.5);
        transform-origin: 0 0;
        height: 500px;
        margin-bottom: -200px;
    }
}
