/*
#gameplay {
    border-style: solid;
    border-color: black;
}
#gameplayHUD {
    border-style: solid;
    border-color: black;
   display: none;
   visibility: hidden;
}
#gameplayHUD-right {
    border-style: solid;
    border-color: black;
    
}
#gameplay-div {
    display:inline;
}

#gameplayHUD-right-div {
    display:inline;
}
#image {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 75%;
    z-index: -1;
}

#demoTitle {
    font-style: bold;
    font-size: 36px;
    margin: 0 0;
    font-family: 'DynaPuff', sans-serif;
    color: rgb(169, 72, 33);
}

#demoInfoHeader {
    font-family: "Ubuntu", serif;
    color: rgb(155, 33, 33);
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 0;
    margin-top: 3px;
}

#tutorial {
    background-color: rgba(211, 71, 71, 0.35);
    border: 2.5px solid black;
}

#demoInfoList {
    margin-top: 0;
}

#demoInfo {
    font-style: italic;
    font-family: "Ubuntu", serif;
    color: black;
    margin-top: 0;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    #gameplay {
        transform: scale(0.4, 0.4);
        transform-origin: 0px 0px;
        display: block;
    }
    #gameplayHUD {
        transform: scale(0.4, 0.4) ;
        transform-origin: 0px 0px;
        display: block;
        visibility:visible;
    }
    #gameplayHUD-right {
        display: none;
        visibility: hidden;
    }
    #gameplay-div {
        display: block;
        width: 320px;
        height: 320px;
    }
    #gameplayHUD-div {
        display: block;
        width: 320px;
        height: 38.4px;
    }

    #gameplayHUD-right-div {
        display: none;
        visibility: hidden;
    }
    #demoInfo {
        font-size: 11px;
    }

    #demoTitle {
        font-size: 18px;
    }

    #demoInfoHeader {
        font-size: 16px;
    }
}
.scale {
    width: 24px;
    height: 24px;
}
*/