
#name-container {

    margin: 0 0;
    padding:  0 0;
}

#nameFont {
    font-family: "Milonga", Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 144px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgb(205, 34, 34);
    -webkit-text-fill-color: rgba(244, 10, 10, 0.767); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;

      text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
#image {
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: -3;
    opacity: 0.69;
}
#personalPicture {
    border-color: black;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}
#intro-container {
    height: 100vh;

}
#intro-desc {
    font-family: 'Arbutus', sans-serif;
    font-size: 22px;
    text-align: center;
}
#about-container {
    top: 100vh;
    background-color: rgba(238, 32, 32, 0.451);
}

#footer {
    font-size: 24px;
    font-family: "Arbutus", Arial, Helvetica, sans-serif;
}
#footer > p {
    color: rgba(11, 131, 71, 0.745);
    text-align: center;
}

#dimensions {
    min-width: 100%;
}

.about-font, .contacts, .demo {
    font-family: 'DynaPuff', sans-serif;
}
.about-font {
    font-size: 20px;
    margin: auto 12vw;
}
.contacts{
    font-size:  36px;
    margin: 40px 40vw;
    width: 50vw;
}

.no-underline {
text-decoration: none;
}
@media screen and (max-width: 1000px) {
    #animatedText {
        font-family: "Metal Mania", Arial, Helvetica, sans-serif;
        margin-left: 15vw;
        margin-right: 5vw;
        color: rgb(165, 30, 30);
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .about-font {
        font-size: 12px;
    }
    #intro-desc {
        font-size: 13px;
    }
    #personalPicture {
        width: 200px;
        height: 200px;
    }
    #nameFont {
        font-size: 96px;
        -webkit-text-stroke-width: 1.5px;
    }
}
@media screen and (max-width: 800px) {
    .about-font {
        font-size: 7px;
    }
    #intro-desc {
        font-size: 8px;
    }
    #personalPicture {
        width: 100px;
        height: 100px;
      
    }
    #nameFont {
        font-size: 64px;
             -webkit-text-stroke-width: 1px;
    }
}

.standout-color {
    color: rgb(8, 115, 42);
    font-weight: bolder;
}
#background {
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(255,0,0,0.4);
    z-index: -3;
}