#title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    margin-top: 10vh;
}
#nameFont {
    font-family: "Hubballi", Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 64px;

    text-align: center;

}
#aboutFont {
    font-family: "Hubballi", Arial, Helvetica, sans-serif;
    font-style:italic;
    font-weight: bolder;
    font-size: 36px;
    color:rgb(24, 125, 90);
    display: block;
    text-align: center;
}
#body1 {
    border: 10px 10px;
    background: linear-gradient(red,green,blue);
    border-style: solid;
    border-color: red;
    border-radius: 300px;
    opacity: 75%;
   
    min-width: 200px;
    /*animation-name: backgroundColor;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;*/

}
#animatedText {
    font-family: "Metal Mania", Arial, Helvetica, sans-serif;
    margin-left: 25vw;
    margin-right: 15vw;
    color: rgb(165, 30, 30);
    font-size: 36px;
}

#animatedText::after {
    animation-name: HelloWorld;
    content: "Hello World! It's me Steven! - Nice to meet you ~";
    animation-duration: 4.2s;
 
}
@media screen and (max-width: 1000px) {
    #animatedText {
        font-family: "Metal Mania", Arial, Helvetica, sans-serif;
        margin-left: 15vw;
        margin-right: 5vw;
        color: rgb(165, 30, 30);
        font-size: 24px;
    }
}
/*
@keyframes backgroundColor {
    0% {        
        background: linear-gradient(red,green,blue);
     }
    17% {   
        background: linear-gradient(red,rgb(25, 204, 49),blue);
        text-shadow: 2px 2px #FF0000;
        color: lightcoral;
    }
   34% {    
    background: linear-gradient(rgb(243, 66, 12),rgb(25, 204, 49),blue);
    text-shadow: 4px 4px #FF0000;
    color: plum;
    }
    51% { 
        background: linear-gradient(rgb(243, 66, 12),rgb(25, 204, 49),rgb(49, 35, 177));
        text-shadow: 6px 6px #FF0000;
        color:darkkhaki;
    }
    68% { 
        background: linear-gradient(rgb(243, 66, 12),green,rgb(49, 35, 177));
          text-shadow: -6px -6px #008cff;
          color:antiquewhite;
    }
    85% { 
        background: linear-gradient(red,green,rgb(49, 35, 177));
        text-shadow: -4px -4px #008cff;
        color:darkviolet;
    }

}*/

@keyframes HelloWorld {
    0% {        
        content: 'H';
     }
    4% {   
        content: "He";
    }
   8% {    
        content: "Hel";
    }
    12% { 
        content: "Hell";
    }
    16% { 
        content: "Hello";
    }
    20% { 
        content: "Hello ";
    }
    24% { 
        content: "Hello W";
    }
    28% { 
        content: "Hello Wo";
    }
   32% { 
        content: "Hello Wor";
    }
    36% { 
        content: "Hello Worl";
    }
   40% { 
        content: "Hello World";
    }
    44% { 
        content: "Hello World!";
    }
    48% { 
        content: "Hello World! I";
    }
   52% { 
    content: "Hello World! It";
    }
   56% { 
    content: "Hello World! It'";
    }
    60% { 
        content: "Hello World! It's";
    }
    64% { 
        content: "Hello World! It's m";
    }
    68% { 
        content: "Hello World! It's me";
    }
   72% { 
    content: "Hello World! It's me ";
    }
    76% { 
        content: "Hello World! It's me S";
    }
   80% { 
    content: "Hello World! It's me St";
    }
    84% { 
        content: "Hello World! It's me Ste";
    }
    88% { 
        content: "Hello World! It's me Stev";
    }
    92% { 
        content: "Hello World! It's me Steve";
    }
    96% { 
        content: "Hello World! It's me Steven";
    }
    100% { 
        content: "Hello World! It's me Steven!";
    }
}


#footer {
    font-size: 24px;
    font-family: "Arbutus", Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100vw;
}
#footer > p {
    color: rgba(11, 131, 71, 0.745);
    text-align: center;
}

#dimensions {
    min-width: 100%;
}