html {
    box-sizing: border-box;
}
/*Common Navigational tools*/
.links {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    text-decoration: none;
    padding: 0px 16px;

}
#navigational {
    /*Fixed position*/
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    right: 0;
    z-index: 2;
}

#navigational > a:hover {
    /*Fixed position*/
    background: gray;
}

.skip {
    margin-bottom: 50px;
}

#dimensions {
    position: fixed;
    background-color: rgba(255,0,0,0.5);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 50%;
}

@media screen and (max-width: 1000px) {
    .links {
        font-size: 12px;    
    }
}
@media screen and (max-width: 800px) {
    .links {

        font-size:8px;
    
    }
}