.font {
    font-family: 'DynaPuff', sans-serif;
    font-size: 24px;  
}
.small-font {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px; 
}
.topBorder {
    border-top: 1px solid black;
}
.bottomBorder {
    border-bottom: 1px solid black;
}
.fillColor {
  background-color:rgba(143,183,143,40%);
  /*Float property will remove the coloring, we need to use overflow:hidden to get the color back*/
  overflow: hidden;
}
.fillColor#project1{
    background-color: rgba(220,20,60,40%);
    /*Float property will remove the coloring, we need to use overflow:hidden to get the color back*/
    overflow: hidden;
  }
  .fillColor#project2{
    background-color: rgba(154,205,50,40%);
    /*Float property will remove the coloring, we need to use overflow:hidden to get the color back*/
    overflow: hidden;
  }
  .fillColor#project3{
    background-color: rgba(50, 195, 205, 40%);
    /*Float property will remove the coloring, we need to use overflow:hidden to get the color back*/
    overflow: hidden;
  }
  .fillColor#project4{
    background-color: rgba(204, 160, 38, 40%);
    /*Float property will remove the coloring, we need to use overflow:hidden to get the color back*/
    overflow: hidden;
  }
  .fillColor#project5{
    background-color: rgba(140, 34, 117, 40%);
    /*Float property will remove the coloring, we need to use overflow:hidden to get the color back*/
    overflow: hidden;
  }
.no-spacing {
    margin: 0 0;
}
.leftSection {
    width: 50%;
    float: left;
}
.rightSection {
    width: 50%;
    float: right;
}
.main {
    display: flex;

  justify-content: center;
  align-items: center;
}
