.font {
    font-family: 'DynaPuff', sans-serif;
    font-size: 24px;  
}
.small-font {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px; 
}

.bottomBorder {
    border-bottom: 1px solid black;

}
.fillColor {
  background-color:rgba(143,183,143,40%);
  width: 85vw;
  margin-left: 7.5vw;
  border-bottom: 3px solid black;
}
.fillColor#project1{
    background-color: rgba(220,20,60,40%);
  }
  .fillColor#project2{
    background-color: rgba(154,205,50,40%);
  }
  .fillColor#project3{
    background-color: rgba(50, 195, 205, 40%);
  }
  .fillColor#project4{
    background-color: rgba(204, 160, 38, 40%);
  }
  .fillColor#project5{
    background-color: rgba(140, 34, 117, 40%);

  }  
  .fillColor#project6{
    background-color: rgba(115, 61, 132, 0.4);
  }
  .fillColor#project7{
    background-color: rgba(136, 191, 87, 0.4);
  }
.no-spacing {
    margin: 0 0;
}
.bottom-spacing {
    margin-top: 7.5px;
}
.topBorder {
  border-top: 1px solid black;

  display:flex;
}
.leftSection {
    flex: 80%;
}
.rightSection {
    flex: 20%;
}

.bottom-margin {
  margin-bottom: 30px;
}
.title {
  font-size: 42px;
}
.tools-used {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  color: lightgreen ;
}
.video {
  object-fit: scale-down;
  max-width: 25vw;
  max-height: 50vh;

}@media screen and (max-width: 1000px) {
.font {
    font-size: 18px;  
}
.small-font {
    font-size: 12px; 
}
.tools-used {
  font-size: 12px;
}
}
@media screen and (max-width: 800px) {
  .font {
    font-family: 'DynaPuff', sans-serif;
    font-size: 14px;  
}
.small-font {
    font-family: 'Ubuntu', sans-serif;
    font-size: 7px; 
}
.tools-used {
  font-size: 7px;
}
}