.font-Mochiy-Pop-P-One {
    font-family: "Mochiy Pop P One", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.font-Tourney {
    font-family: "Tourney", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.font-Condiment {
    font-family: "Condiment", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.font-Kavivanar {
    font-family: "Kavivanar", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.fontSize-64px {
    font-size: 64px
}
.fontSize-42px {
    font-size: 42px
}
.fontSize-36px {
    font-size: 36px;
}
.fontSize-28px {
    font-size: 28px;
}
.fontSize-24px {
    font-size: 24px;
}
.fontSize-16px {
    font-size: 16px;
}
.font-bold {
    font-weight: bold;
}